* { 
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

html, body, #root {
  background-color: #dbdbdb;
  height: 100%;
  display: flex;
  flex-direction: column;
}