<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administrador</title>
    <link rel="stylesheet" href="../static/css/administrador.css">
</head>
<body>
    <main>
        {% set menssagem = get_flashed_messages() %}
        {% if menssagem %}
            <div class="flash_alerta" id="flash_alerta-adm">
                {{menssagem[0]}}
            </div>
        {% endif %}
        <h1 id="titulo_adm">Administrador</h1>
        <div class="form-fundo" id="cadastrar-fundo">
            <h1>CADASTRAR USUARIO</h1>
            <div class="form-frente" id="cadastrar-frente">
                <form action="/cadastrarUsuario" id="login" method="post">
                    <div class="campo">
                        <label for="nome">NOME:</label>
                        <input type="text" name="nome" id="nome" required placeholder="Digite seu nome"><br>
                    </div>
                    <div class="campo">
                        <label for="senha" id="senha">SENHA:</label>
                        <input type="text" name="senha" id="senha" required placeholder="Digite sua Senha"><br>
                    </div>
                    <button type="submit" id="btn_login">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>CADASTRAR
        
                    </button>
                </form>
            </div>
        </div>
        <div class="form-fundo" id="usuarios-fundo">
           <h1>USUARIOS CADASTRADOS</h1> 
           <div class="form-frente" id="usuarios-frente">
                <div id="lista">
                    {% if usuarios%}
                        {% for c in usuarios%}
                        <form action="/excluirUsuario" method="post">
                            <ul>
                                <input type="hidden" name="Usuario_Para_Excluir" value="{{c[0]}}">
                                <input type="hidden" name="nome" value="{{c[1]}}">
                                <li>Usuário:{{c[1]}}</li>
                                <li>Senha:{{c[2]}}</li>
                            </ul>
                            <button id="btn-excluir-usuario"type="submit">Excluir Usuário</button>
                        </form>
                        {% endfor%}
                    {% else %}
                    <h1>Não existe usuarios cadastrados</h1>
                    {% endif %}
                </div>
           </div>
        </div>
        <div class="form-fundo" id="upload-fundo">
            <h1>ENVIAR ARQUIVOS</h1>
            <div class="form-frente" id="upload-frente">
                <form action="/upload" method="post" enctype="multipart/form-data">
                    <input type="file" name="documento" id="documento">
                    <button type="submit">ENVIAR</button>
                </form>
            </div>
        </div>
    </main>
</body>
</html>
