@import url(style.css);

h1#titulo_adm{
    font-size: 0.8rem;
    color: white;
    text-align: right;
}

#flash_alerta-adm{
    left: 30%;
    top: 15%;
}

div#cadastrar-fundo{
    position: absolute;
    top: 40%;
    left: 30%;
}

div#usuarios-fundo{
    position: absolute;
    top: 25%;
    left: 70%;
}

div#usuarios-frente{
    background-color: white;
    margin: 10px;
    height: 200px;
    border-radius: 0px 0px 10px 10px;
}

div#lista{
    list-style: none;
    text-align: left;
    overflow-y: scroll;
    height: 190px;
}

button#btn-excluir-usuario{
    margin-top: 0px;
    margin-bottom: 20px;
}

div#upload-fundo{
    position: absolute;
    top: 75%;
    left: 70%;
}