.container {
    padding: 20px;
}

.title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.fileInputContainer {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.fileInput {
    display: none;
}

.fileButton {
    width: 450px;
    height: 250px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    gap: 20px;
    background-color: #ff95001d;
    color: #ff9500;
    border: 2px dashed #ff9500;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.fileButton:hover {
    background-color: #ff95004d;
}

.fileButton span {
    width: 50px;
    height: 50px;
    background-color: #ff9500;
    border-radius: 50%;
    font-size: 30px;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}