.services {
    padding: 2rem;
    max-width: 800px;
    margin: 0 auto;
    background-color: #FFFFFF;
    border: 2px solid #F6EDE8;
}

.servicesTitle {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.servicesDescription {
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 1rem;
}

.servicesList {
    list-style-type: disc;
    padding: 1rem;
}

.servicesListItem {
    margin-bottom: 0.5rem;
}