.footer {
    background-color: #000000;
    text-align: center;
    padding: 10px 0;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -2px 5px rgba(0,0,0,0.1);

    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.logofooter {
    width: 10rem;
    height: auto;
    margin-bottom: 5px;
}

.copy{
    color: #FFFFFF;
}